.featureContainer {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.top {
  margin-top: 20px;
}
.heading,
.subheading {
  text-align: center;
}

.subheading {
  color: rgb(189, 187, 187);
}

.bottom {
  display: flex;
  gap: 10px;
}

.icon {
  color: var(--primary);
  height: 60px;
  width: 60px;
  background-color: #fff;
  padding: 3px;
  border-radius: 15px;
}

.box {
  background-color: var(--background-light);
  padding: 25px 30px;
  border-radius: 15px;
}
.box p {
  color: #000;
}

@media (max-width: 768px) {
  .bottom {
    flex-direction: column;
    align-items: center;
  }
}
