.footerContainer {
  display: flex;
  gap: 20px;
  padding: 30px 20px;
}

.leftSection {
  margin-left: auto;
}
.rightSection {
  margin-right: auto;
}
.header {
  display: flex;
  gap: 6px;
  margin: 15px 0px;
}
.leftSection p {
  color: grey;
}
.leftSection span {
  display: block;
}

/* footer table */
.rightSection table {
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

.rightSection th,
.rightSection td {
  text-align: left;
  vertical-align: top;
  padding: 8px 16px;
}

.rightSection th {
  font-weight: bold;
}
/* end of footer table */

.rights {
  text-align: center;
  color: grey;
}

.text {
  margin-left: 5px;
}
@media (max-width: 768px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .leftSection {
    margin-left: 0;
  }
  .rightSection {
    margin-right: 0;
  }
}
