.container {
  min-height: 100vh;
  width: 100%;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  background-color: white;
  padding: 50px 60px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.googleContainer {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  background-color: gainsboro;
  color: #000;
  padding: 10px 20px;
  font-style: bold;
  border: none;
}

.googleIcon {
  color: #4285f4;
}
